
h1 {
  color: #000080;
  font-size: 180%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
}
p   {
  text-align: justify;
  font-size: 12pt;
}
h4  {
  color: #000080;
  text-align: right;
}